html, body{
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: slategray;
}

.top-container{
    text-align: center;
    /* background-color: #2ec4b6; */
    color: white;
    background-color: midnightblue;
    border-bottom: 5px solid purple;
    border-top: 5px solid purple;
}

#header-pane{
    align-self: center;
}

#header-button-one, #header-button-two, #header-button-three,
#header-button-four{
    width: 15vw;
    margin: 2%;
    color: blue;
}

#intro-text{
    text-align: center;
}
.body-subtext{
    padding: 10px;
}
