/*--- CLEAR BROWSER SETTINGS AND SET DEFAULT H/W---*/
html, body{
    font-family: 'Lato', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}


/*--- INTRO BANNER STYLES ---*/
.top-container{
    text-align: center;
    color: #fffffe;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #121629;
    background-color: #b8c1ec;
    border-bottom: 5px solid #121629;
    border-top: 5px solid #121629;
}


/*--- TOP NAV STYLES ---*/
#top-bar{
    background-color: #232946;
}
#header-pane{
    align-self: center;
    background-color: #232946;
}
.top-button-nav{
    background-color: #232946;
}


/*--- NAV BUTTON STYLES ---*/
#header-button-one, #header-button-two, #header-button-three,
#header-button-four, #home-button, #contact-button{
    width: 15vw;
    height: 2.5vw;
    margin: 2%;
    color: #232946;
    border: 1px solid #121629;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #121629;
}

#home-button, #contact-button{
    width: 15vw;
}

/*---BODY SECTION STYLES ---*/
#intro-section, #section-three, #section-five{
    background-color: #232946;
    color: #b8c1ec;
    border-bottom: 2px solid #121629;
    border-top: 2px solid #121629;
}
#section-two, #section-four{
    background-color: #d4d8f0;
    color: #232946;
    border-bottom: 2px solid #121629;
    border-top: 2px solid #121629;
}

/*--- BODY TEXT STYLES ---*/
#intro-text, #section-two-text, #section-three-text, #section-four-text, #section-five-text{
    text-align: center;
    padding: 1px;
}


/*@MEDIA SECTION HANDLES VARIOUS SITE VIEWS*/
@media (max-width: 1025px) {
    #header-button-one, #header-button-two, #header-button-three,
    #header-button-four, #home-button, #contact-button { 
        padding: 25px;
    }
}

@media (max-width: 426px) {
    #header-button-one, #header-button-two, #header-button-three,
    #header-button-four, #home-button, #contact-button { 
        font-size: xx-small;
        padding: 25px;
    }
}

@media (max-width: 400px){
    #top-bar{
        display: none;
    }
}
